body {
    background:white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: bold;
    text-align: center;
    margin: 0;

}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}









footer{
    background-color: blue;
    border-top: 1px solid white;

}

.footer-top{
    padding: 50px 0 20px;
}
.footer-item{
    margin: 0 0 30px;
}

.footer-item h3{
    text-transform: capitalize;
    color: white;
    margin: 0 30px 20px;
    font-style: italic;
}

.footer-item ul li:not(:last-child){
    margin-bottom: 8px;    
}
.footer-item ul li{
    list-style: none;
}

.footer-item ul a{
    text-transform: capitalize;
    color:white;
    transition: color 0.3s ease; 
    font-size: 20px;
    padding: 15px 0px;
    position: relative;
}

.footer-item li a{
    text-decoration: none;
}


.footer-bottom{
    border-top: 1px solid white;
}

.footer-bottom p{
    font-size: 14px;
    color: white;
}




.navbar{
    background-color: blue;
}

.navbar-brand img{
    max-width: 50px;
}

a.nav-link{
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.nav-item{
    margin-left: 30px;
}

